header{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
.main{
    background-color: grey;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.main h2{
    display:inline-block;
    color: darkblue;
    margin-bottom: 35px;
    border-bottom: 5px solid;
}
.main img{
    float: left;
    padding:0 0 0 10px
}

.main p{
    display: inline;
    float:center;
}
section a{
    color:red;
}
.contact{
    float: right;
    display:inline-block;
}
body{background-color: rgb(51, 48, 48);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}