
h1{
    background-color: black;
    text-align: center;
    color: blanchedalmond;
}
.main{
    background-color: grey;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    overflow: auto;
    margin-bottom: 20px;
}
.main h2{
    display: inline;
    color: black;
    margin-bottom: 35px;
    padding: 0 20px 0 80px;
}
.main img{
    float: left;
    padding:0 20px 20px 20px
}

.main p{
    float:center;
}
section a{
    color:red;
}
.contact{
    float: right;
    width: 30%;
  
}
body{background-color: rgb(51, 48, 48);
    margin: 0;
    padding:0
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}