:root{
    --primary-color: #2E3138;
    --secondary-color: #6C6F7D;
    --outer1-color: #CCC9E7;
    --outer2-color: #151c21;
    --outer3-color: #FFD300;
    --hoverlink: #7a6706;

}
header{
    position: sticky;
    display: flex;
    background-color: var(--primary-color);
    top: 0;
    padding: 10px 10px;
    color: var(--outer1-color);
    opacity: 0.8;
}
header h1{
    display: flex;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    padding-top: 10px;
}
header a{
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color)
}
header nav{
    margin: 7px 0;
    margin-left: auto;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
header nav ul li a{
    margin: 10px 15px;
}
header nav ul li a:hover{
    color:black;
}
.main-img{
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    width:0 auto;
}
.main{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    width: 80%;
    flex:1;
    margin: 20px;
}
.main p{
    display:flex;
    align-items: flex-start;
    color: var(--primary-color);
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}
.main img{
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    margin: 20px;
}

.skills{
    display: flex;
    background-color:var(--outer1-color) ;
    border-radius: 15px;
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    padding: 10px;
    width:20%;
    margin: 20px;
}

section a{
    color:var(--outer3-color)
}
section a:hover{
    color:var(--hoverlink)
}
.contact-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    width:0 auto;
    justify-content: space-around;
}
.proj{
    border-radius: 15px;
    background-color: var(--primary-color);
    margin:10px;

}
.proj img{
    border-radius: 15px;
    width: 100%;
}
.proj p{
    margin-left: 20px;
}
.primary{
    width: 90%;
}
.secondary{
    width: 45%;
}
.contact-link{
    display: flex;
    flex-wrap: wrap;
    background-color: #2E3138;
    width:90%;
    margin: 10px 20px;
    border-radius: 20px;
}
.contact-link img{
    height: 75px;
    width: 70px;
    padding: 20px;
    border-radius: 70px;
}
body{
    background-color: var(--outer2-color);
    margin: 0;
    padding:0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: black;
    padding: 10px 10px;
    text-align: center;
}
footer  h2{
    color: aliceblue;
}
@media screen and (max-width:980px){
    .main,.skills{
        flex: 0 100%;
    }
}
@media screen and (max-width:600px){
    header nav{
        margin-left: auto;
        margin-right: auto;
    }
    header{

        position: relative;
        flex-direction: column;
    }
    header h1{
        width: 100%;
        justify-content: center;
    }
    header nav ul{
        justify-content: center;
    }
    .main{
        flex-direction: column;
    }
    .main,.skills{
        flex: 0 100%;
    }
    .main img{
        margin-left: auto;
        margin-right: auto;
    }
}