:root{
    --primary-color: #2E3138;
    --secondary-color: #6C6F7D;
    --outer1-color: #CCC9E7;
    --outer2-color: #151c21;
    --outer3-color: #FFD300;
    --hoverlink: #7a6706;

}
header{
    position: sticky;
    display: flex;
    background-color: var(--primary-color);
    top: 0;
    padding: 10px 0;
    color: var(--outer1-color);
    opacity: 0.8;
}
header h1{
    display: flex;
    font-weight: bold;
    margin: 0 0 0 20px;
    font-size: 36px;
    padding-top: 10px;
}
header a{
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 20px;
}
header nav{
    margin: 7px 0;
    margin-left: auto;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
header nav ul li a{
    margin: 10px 15px;
}
header nav ul li a:hover{
    color:black;
}
.main-img{
    width: 100%;
}
.bio-info{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    width:0 auto;
}
.main{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    width: 70%;
    flex:1;
    margin: 20px;
}
.main p{
    display:flex;
    align-items: flex-start;
    color: var(--primary-color);
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}
.main img{
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    margin: 20px;
}

.skills{
    background-color:var(--outer1-color) ;
    border-radius: 15px;
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    width:30%;
    margin: 20px;
    padding: 20PX;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
.career-info{
    display:flex;
    flex-wrap: wrap;
}
#education{
    width:30%;
    border-radius: 15px;
    padding:15px;
    margin: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
#education h2{
    color:var(--secondary-color);
    font-size: 35px;
    border-bottom: 3px solid var(--outer2-color);
    border-width: 20%;
}
#education h3{
    color: var(--outer1-color);
}
#education p{
    color:var(--outer3-color);
}

#work-history{
    width:60%;
    border-radius: 15px;
    padding:10px;
    margin: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
#work-history h4{
    color:var(--primary-color);
    font-size: 35px;
    border-bottom: 3px solid var(--outer2-color);
    border-width: 20%;
}
#work-history h2{
    color:var(--outer3-color);
}
#work-history h3{
    color: var(--outer2-color);
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    width:0 auto;
    justify-content: space-around;
}
.proj{
    border-radius: 15px;
    background-color: var(--primary-color);
    margin:10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);

}
.proj img{
    border-radius: 15px;
    width: 100%;
}
.proj a{
    color: var(--outer3-color)
}
.proj a:hover{
    color: var(--hoverlink);
}
.proj h2, .proj h3, .proj p{
    margin:0 20px 20px 20px;
}
.primary{
    width: 90%;
}
.secondary{
    width: 45%;
}
.contact-cont{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    width:0 auto;
}
.contact-info{
    width:68%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0;
}
.contact-link{
    display: flex;
    background-color: var(--primary-color);
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
.contact-link h4{
    margin: 20px 10px 0 10px;
}
.contact-link p{
    margin: 10px 10px 0 10px;
}
.contact-link img{
    height: 75px;
    width: 70px;
    padding: 20px;
    border-radius: 70px;
}
.contact-link a{
    color:var(--outer3-color)
}
.contact-link a:hover{
    color:var(--hoverlink)
}
.contact-me{
    margin-top: 20px;
    width:30%;
    border-radius: 20px;
    font-size: 25px;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
.contact-me h2{
    font-size: 40px;
    color: #FFD300;
    font-weight: bold;
    text-align: center;
}
.contact-me input{
    width: 15vw;
}
.contact-me textarea{
    width: 25vw;
    height:80px;
}
.contact-me button{
    color: white;
    background-color: var(--outer2-color);
    border: none;
    border-radius: 15%;
    height: 25px;
}
.padding{
    min-height: calc(40vh);
}
body{
    background-color: var(--outer2-color);
    margin: 0;
    padding: 0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height:60px;
    background-color: black;
    padding: 10px 0px;
    text-align: center;
}
footer  h2{
    color: aliceblue;
}
@media screen and (max-width:1300px) {
    #education{
        width:100%
    }
    #work-history{
        width: 100%;
    }
    .primary{
        width:100%;
    }
    .secondary{
        width:100%;
    }
}
@media screen and (max-width:1100px){
    .main,.skills{
        flex: 0 100%;
    }
    .contact-info,.contact-me{
       flex: 0 100%;
    }
    .contact-me{
        margin: 10px 20px;
    }
    .contact-me input{
        width: 30vw;
    }
    .contact-me textarea{
        width: 80vw;
    }
    .contact-me button{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:800px){
    header nav{
        margin-left: auto;
        margin-right: auto;
    }
    header{

        position: relative;
        flex-direction: column;
    }
    header h1{
        width: 100%;
        justify-content: center;
    }
    header nav ul{
        justify-content: center;
    }
    .main{
        flex-direction: column;
    }
    .main,.skills{
        flex: 0 100%;
    }
    .main img{
        margin-left: auto;
        margin-right: auto;
    }
}